:root {
    --accent-color: rgb(97, 150, 204);
    --accent-color-rgb: 97, 150, 204;
  }
  
  .logo__cursor {
    background: var(--accent-color);
  }
  
  .post-title {
    color: var(--accent-color);
  }